* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;

  body {
    .container1 {
      height: 100vh;
      width: 100vw;
      background-color: cadetblue;
      padding-top: 5rem;

      .todobody {
        width: 50rem;
        height: 50rem;
        background-color: brown;
        text-align: center;
        margin: auto;

        .todoheader {
          height: 12.5rem;
          width: 50rem;
          background-color: chocolate;
          padding-top: 3.125rem;

          h1 {
            height: 6.25rem;
            background-color: crimson;
            padding-top: 2.125rem;
          }
        }
      }
    }
  }
}
